<h2>Template: <small>Dinámicos</small></h2>
<hr>

<form (ngSubmit)="guardar()" autocomplete="off" #miFormulario="ngForm">
   <!-- Nombre -->
    <div class="row mb-3">

        <label for="" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input 
                type="text"
                class="form-control"
                [ngModel]="persona.nombre"
                required
                name="nombre"
                placeholder="Nombre">
            <span 
                class="form-text text-danger"
                *ngIf="miFormulario.controls['nombre']?.invalid &&
                miFormulario.controls['nombre']?.touched">
                Este campo es Obligatorio
            </span>
        </div>

    </div>

    <!-- Agregar Favorito -->
    <div class="row mb-3">

        <label for="" class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input 
                    type="text"
                    class="form-control"
                    [(ngModel)]="nuevoJuego"
                    name="juegoNuevo"
                    (keyup.enter)="agregarJuego()"
                    placeholder="Agregar Favorito">
                <button type="button"
                    class="btn btn-outline-primary"
                    (click)="agregarJuego()">
                    Agregar
                </button>
            </div>
        </div>

    </div>

    <!-- Lista de Juegos Favoritos -->
    <div class="row mb-3">

        <label for="" class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <div class="input-group  mb-1"  *ngFor="let juego of persona.favoritos; let i = index">
                <input  [(ngModel)]="juego.nombre"
                        [name]="'favorito'+i"
                        required
                        class="form-control">
                <button type="button"
                    class="btn btn-outline-danger"
                    (click)="eliminar(i)">
                    Eliminar
                </button>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-12">
            <button type="button"
                (click)="guardar()"
                class="btn btn-primary float-end"
                [disabled]="miFormulario.invalid">
                Guardar
            </button>
        </div>
        
    </div>
</form>

<div class="row">
    {{miFormulario.value|json}}
    <br>
    {{miFormulario.touched}}
    <br>
    <pre>
        {{persona|json}}
    </pre>
</div>