<h1>Template: Básicos</h1>
<hr>

<div class="row">
    <div class="col">
        <form>
            <!-- Producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input 
                        type="text"
                        class="form-control"
                        placeholder="Nombre del Producto">
                    <span class="form-text text-danger">Debe de ser mayor a dos letras</span>
                </div>
            </div>

            <!-- Precio -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input 
                        type="number"
                        class="form-control"
                        placeholder="Precio del Precio">
                </div>
            </div>

            <!-- Existencias -->
            <div class="mb-3 row">
                <label for="" class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input 
                        type="number"
                        class="form-control"
                        placeholder="Existencias del Producto">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>