<h2>Reactive: <small>Dinámicos</small></h2>
<hr>

<form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
   <!-- Nombre -->
    <div class="row mb-3">

        <label for="" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input 
                type="text"
                class="form-control"
                formControlName="nombre"
                placeholder="Nombre">
            <span 
                *ngIf="campoValido('nombre')"
                class="form-text text-danger">
                Este campo es Obligatorio
            </span>
        </div>

    </div>

    <!-- Agregar Favorito -->
    <div class="row mb-3">

        <label for="" class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input 
                    type="text"
                    class="form-control"
                    (keyup.enter)="agregarFavorito()"
                    [formControl]="nuevoFavorito"
                    placeholder="Agregar Favorito">
                <button type="button"
                    class="btn btn-outline-primary"
                    (click)="agregarFavorito()">
                    Agregar
                </button>
            </div>
        </div>

    </div>

    <!-- Lista de Juegos Favoritos -->
    <div class="row mb-3">

        <label for="" class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="favoritos">
            <div class="input-group  mb-1"
                *ngFor="let fav of favoritosArr.controls; let i = index">
                <input
                    [formControlName]="i"
                    class="form-control">
                <button type="button"
                    class="btn btn-outline-danger">
                    Eliminar
                </button>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-12">
            <button type="submit"
                class="btn btn-primary float-end">
                Guardar
            </button>
        </div>
        
    </div>
</form>

<div class="row">
    {{miFormulario.value|json}}
    <br>
    Touched:  {{miFormulario.touched}}
    <br>
</div>